
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data  # Esto hace que los datos no se borren al apagar

  monitor:
    build: .
    depends_on:
      - db  
    environment:
      DB_HOST: db  
      DB_PASS: ${POSTGRES_PASSWORD}

      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      TELEGRAM_CHAT_ID: ${TELEGRAM_CHAT_ID}
    volumes:
      - /:/host_disk:ro

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"  
    depends_on:
      - db
    volumes:  
      - grafana_data:/var/lib/grafana

volumes:
  pgdata:
  grafana_data:  